p {
    font-size: 1rem;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
    @media (max-width:$xl) {
        font-size: 3.5rem;
    }
    @media (max-width:$lg) {
        font-size: 3rem;
    }
}