p {
    font-size: 1rem;
    font-weight: 500;
}

h1 {
    font-size: 5rem;
    font-weight: 800;
    @media (max-width:$xl) {
        font-size: 3rem;
    }
    @media (max-width:$lg) {
        font-size: 2.5rem;
    }
}