.btn-l {
    background-color: #FFEEEE;
    color: #fd2d05;
    border: 2px solid white;
    border-radius: 0;
    width: 100%;
    font-size: 1rem;
    padding: 15px 0;
    font-weight: 700;
}

.btn-med {
    background-color: #FFEEEE;
    color: #fd2d05;
    border: 2px solid white;
    border-radius: 0;
    font-size: 1rem;
    margin: 15px 0 0;
    padding: 10px 20px 13px;
    font-weight: 700;
}