.form-control:focus {
    box-shadow: none;
}

.btn-submit {
    background-color: $main-color;
    color: white;
    border: none;
    border-radius: 30px;
    width: 100%;
    font-size: 1rem;
    padding: 15px 0 17px;
    font-weight: 700;
    &:hover {
        background-color: $second-color;
        color: $main-color;
    }
}

.input-l {
    background-color: #FFEEEE;
    color: #000000;
    border: none;
    border-radius: 30px;
    width: 100%;
    font-size: 1rem;
    padding: 15px 30px 17px;
    font-weight: 500;
    &:focus {
        border: none;
    }
}