.form-control:focus {
    box-shadow: none;
}

.btn-submit {
    background-color: $main-color;
    color: white;
    border: none;
    border-radius: 0;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-weight: 700;
    &:hover {
        background-color: $second-color;
        color: $main-color;
    }
}

.btn-update {
    background-color: white;
    color: black;
    border: 1px solid #F5F5F5;
    border-radius: 0;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    font-weight: 400;
    min-width: 270px;
    @media (max-width: $med) {
        width: 100%;
    }
}

.btn-delete {
    background-color: $second-color;
    color: $main-color;
    border: 1px solid #F5F5F5;
    border-radius: 0;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 8px;
    font-weight: 600;
    margin: 10px 0;
    min-width: 270px;
    @media (max-width: $med) {
        width: 100%;
    }
}

.input-l {
    background-color: white;
    color: #000000;
    border: none;
    width: 49%;
    font-size: 1rem;
    padding: 15px 30px 17px;
    font-weight: 500;
    @media (max-width: $med) {
        width: 100%;
    }
    &:focus {
        border: none;
    }
}

.form-control {
    color: black;
}