html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.c-12 {
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.c-11 {
  max-width: 91.66%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66%;
          flex: 0 0 91.66%;
}

.c-10 {
  max-width: 83.33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33%;
          flex: 0 0 83.33%;
}

.c-9 {
  max-width: 75%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}

.c-8 {
  max-width: 66.66%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66%;
          flex: 0 0 66.66%;
}

.c-7 {
  max-width: 58.33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33%;
          flex: 0 0 58.33%;
}

.c-6 {
  max-width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.c-4 {
  max-width: 33.33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
}

.c-3 {
  max-width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.c-2 {
  max-width: 16.66%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66%;
          flex: 0 0 16.66%;
}

.c-1 {
  max-width: 8.33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33%;
          flex: 0 0 8.33%;
}

@media (max-width: 960px) {
  .cm-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 960px) {
  .cm-8 {
    max-width: 66.66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66%;
            flex: 0 0 66.66%;
  }
}

@media (max-width: 960px) {
  .cm-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 640px) {
  .cs-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 640px) {
  .cs-8 {
    max-width: 66.66%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66%;
            flex: 0 0 66.66%;
  }
}

@media (max-width: 640px) {
  .cs-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-submit {
  background-color: #FD2D01;
  color: white;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  font-weight: 700;
}

.btn-submit:hover {
  background-color: #FFD7D7;
  color: #FD2D01;
}

.btn-update {
  background-color: white;
  color: black;
  border: 1px solid #F5F5F5;
  border-radius: 0;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  font-weight: 400;
}

.btn-delete {
  background-color: #FFD7D7;
  color: #FD2D01;
  border: 1px solid #F5F5F5;
  border-radius: 0;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px 8px;
  font-weight: 600;
  margin: 10px 0;
}

.input-l {
  background-color: white;
  color: #000000;
  border: none;
  width: 49%;
  font-size: 1rem;
  padding: 15px 30px 17px;
  font-weight: 500;
}

.input-l:focus {
  border: none;
}

.mdi {
  font-size: 1.5rem;
}

.icon-inactive {
  color: #AFAFAF;
}

.btn-l {
  background-color: #FFEEEE;
  color: #fd2d05;
  border: none;
  border-radius: 30px;
  width: 100%;
  font-size: 1rem;
  padding: 15px 0;
  font-weight: 700;
}

.btn-med {
  background-color: #FFEEEE;
  color: #fd2d05;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  margin: 15px 0 0;
  padding: 10px 20px 13px;
  font-weight: 700;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
}

@media (max-width: 1400px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 960px) {
  h1 {
    font-size: 2.5rem;
  }
}

body {
  background-color: #FAFAFA;
  font-family: neue-haas-unica, sans-serif;
}
/*# sourceMappingURL=main.css.map */